
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div id="id-content-order" style="display:inline;">
    <div class="content-header" style="color: black; text-align: center; font-size: 30px; font-family: monospace;">ĐƠN ĐẶT HÀNG</div>
    <table>
        <tr>
            <th>#</th>
            <th>Tên khách hàng</th>
            <th>Email</th>
            <th>Đặt sản phẩm</th>
            <th>Số lượng</th>
            <th>Địa chỉ</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Phòng Văn Huỳnh</td>
            <td>admin1@email.com</td>
            <td>Humberger bò</td>
            <td>2</td>
            <td>Hoàn Kiếm - Hà Nội</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn Thị Ngọc</td>
            <td>admin1@email.com</td>
            <td>Humberger bò</td>
            <td>2</td>
            <td>Hoàn Kiếm - Hà Nội</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Bùi Trung Tú</td>
            <td>admin1@email.com</td>
            <td>Humberger bò</td>
            <td>2</td>
            <td>Hoàn Kiếm - Hà Nội</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Trần Tuấn Anh</td>
            <td>admin1@email.com</td>
            <td>Humberger bò</td>
            <td>2</td>
            <td>Hoàn Kiếm - Hà Nội</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Nguyễn Ngọc Long</td>
            <td>admin1@email.com</td>
            <td>Humberger bò</td>
            <td>2</td>
            <td>Cầu Giấy - Hà Nội</td>
        </tr>
    </table>
</div>