
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Them{
    <li><a class="drop-text" href="#services">Dịch vụ</a></li>
}
<!-- banner -->
<div class="main-banner-2">

</div>
<!-- //banner -->
<!-- page details -->
<div class="breadcrumb-agile bg-light py-2">
    <ol class="breadcrumb bg-light m-0">
        <li class="breadcrumb-item">
            <a href="/Home">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Tìm hiểu</li>
    </ol>
</div>
<!-- //page details -->
<!-- about -->
<section class="w3ls-bnrbtm py-5 " id="about">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <h3 class="w3ls-title mb-3">About <span>Us</span></h3>
            <p class="titile-para-text mx-auto">Nếu như bạn đã thành tâm muốn biết, thì chúng tôi sẽ sẵng sàng trả lời.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 pr-xl-5 mt-xl-2 mt-lg-0">
                <h3 class="title-sub mb-4">Chúng tôi là ai?</h3>
                <p class="sub-para">Được thành lập vào đầu năm 2020 - Khi mà đại dịch covid-19 đang gây nhiều thiệt hại lớn cho nền kinh tế, cách ly xã hội đã được chính phủ ban hành khiến cho các khu trợ truyền thống ế ẩm, nhận thấy đây là cơ hội trong khó khăn, chúng tôi "những lập trình viên thất nghiệp" đã quyết tâm xây dựng lên FastFood King với chủ trương CHẤT LƯỢNG CAO GIAO TẬN NHÀ góp 1 phần sức mọn vào chủ trương của chính phủ.  </p>
                <p class="sub-para pt-4 mt-4 border-top">Cho tới nay FastFood King đã là chuỗi cửa hàng thức ăn nhanh lớn nằm trong top 1000 nhà hàng chất lượng nhất khu vực Bắc Từ Liêm, chỉ trong vòng một tháng chúng tôi đã mở tới những 01 địa điểm tại khu vực Hoàng Quốc Việt -  nơi mà có mật độ dân cư vô cùng to lớn.</p>
            </div>
            <div class="col-lg-6 text-center mt-lg-0 mt-4">
                <img src="/Content/images/ab.jpeg" alt="about" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- services -->
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Gọi điện ngay - Ship liền tay</p>
            <h3 class="w3ls-title mb-3"><span>Chính sách dịch vụ</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="login.html">CHẤT LƯỢNG</a></h4>
                        <p>Chú trọng khâu tuyển chọn đội ngũ đầu bếp chuyên nghiệp, thực đơn của chúng tôi luôn được đổi mới, đa dạng với nhiều hương vị.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="/Content/images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="/Content/images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="login.html">GIAO HÀNG ĐÚNG GIỜ</a></h4>
                        <p>Chúng tôi cam kết luôn giao hàng đúng giờ và chi phí giao hàng rẻ nhất.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="login.html">PHỤC VỤ</a></h4>
                        <p>FastFood King luôn lắng nghe và chăm sóc những nhu cầu dù là nhỏ nhất của Quý khách.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="/Content/images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="/Content/images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="login.html">THỜI GIAN</a></h4>
                        <p>Tổng đài FastFood King tiếp nhận đơn hàng trong khung giờ từ 8:00 – 21:00 hàng ngày.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="/Content/images/img.png" alt="" class="img-fluid">
    </div>
</section>
<!-- //services -->
<!-- team -->
<div class="team py-5" id="chefs">
    <div class="container-fluid py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <h3 class="w3ls-title mb-3"><span>Đầu bếp của chúng tôi</span></h3>
            <p class="titile-para-text mx-auto">Tất cả họ đều đã từng tham gia và đạt giải cao trong các cuộc thi về nấu ăn.</p>
        </div>
        <div class="row team-bottom pt-4">
            <div class="col-lg-3 col-6 team-grid">
                <a href="#team"><img src="/Content/images/t1.jpg" class="img-fluid" alt=""></a>
                <div class="caption">
                    <div class="team-text">
                        <h4><a href="#team">Phạm Tuấn Hải</a></h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook f1" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter f2" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-grid">
                <a href="#team"><img src="/Content/images/t2.jpg" class="img-fluid" alt=""></a>
                <div class="caption">
                    <div class="team-text">
                        <h4><a href="#team">Ngô Thanh Hòa</a></h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook f1" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter f2" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-grid mt-lg-0 mt-4">
                <a href="#team"><img src="/Content/images/t3.jpg" class="img-fluid" alt=""></a>
                <div class="caption">
                    <div class="team-text">
                        <h4><a href="#team">Ngô Mai Trang</a></h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook f1" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter f2" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-6 team-grid  mt-lg-0 mt-4">
                <a href="#team"><img src="/Content/images/t4.jpg" class="img-fluid" alt=""></a>
                <div class="caption">
                    <div class="team-text">
                        <h4><a href="#team">Christine Hà</a></h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook f1" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter f2" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus f3" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //team -->
