
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Them{
    <li><a class="drop-text" href="#services">Dịch vụ</a></li>
    <li><a class="drop-text" href="#nguoidunglaunam">Feedback</a></li>
}
<!-- banner -->
<div class="baneer-w3ls">
    <div class="row no-gutters">
        <div class="col-xl-5 col-lg-6">
            <div class="banner-left-w3">
                <div class="container">
                    <div class="banner-info_agile_w3ls">
                        <h5>Chúng tôi ở đây là vì bạn</h5>
                        <h3 class="text-da mb-4">Lựa chọn <span>Đồ ăn tốt nhất</span> </h3>
                        <p>Niềm hạnh phúc của chúng tôi chỉ đơn giản là phục vụ bạn những bữa ăn ngon mà bạn yêu thích theo những cách dễ dàng và an toàn nhất có thể.</p>
                        <a href="/About" class="button-w3ls mt-5">
                            Xem thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                        <a href="/Menu" class="button-w3ls mt-5 active ml-2">
                            Order Luôn
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 callbacks_container">
            <!-- banner slider -->
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <ul class="banner_slide_bg">
                    <li>
                        <div class="banner-top1"></div>
                    </li>
                    <li>
                        <div class="banner-top2"></div>
                    </li>
                    <li>
                        <div class="banner-top3"></div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                </div>
                <div class="navigation">
                    <div>
                        <label for="slides_1"></label>
                        <label for="slides_2"></label>
                        <label for="slides_3"></label>
                    </div>
                </div>
            </div>
            <!-- //banner slider -->
        </div>
    </div>
</div>
<!-- //banner -->
<div class="clearfix"></div>

<!-- about -->
<div class="about-bottom">
    <div class="row no-gutters">
        <div class="col-lg-5 col-md-6 about">

        </div>
        <div class="col-lg-7 col-md-6 about-right-w3 text-right py-md-5">
            <div class="right-space py-xl-5 py-lg-3">
                <div class="title-section mb-4">
                    <p class="w3ls-title-sub">Chúng tôi</p>
                    <h3 class="w3ls-title">Những <span>MasterChef</span> không <span>CUP</span></h3>
                </div>
                <p class="about-text">Được thành lập vào đầu năm 2020 - Khi mà đại dịch covid-19 đang gây nhiều thiệt hại lớn cho nền kinh tế, Cho tới nay FastFood King đã là chuỗi cửa hàng thức ăn nhanh lớn nhất phường Tây Tựu, chỉ trong vòng 1 tháng chúng tôi đã mở tới những ...</p>
                <a href="/About" class="button-w3ls mt-5">
                    Tìm hiểu thêm
                    <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- món mới specials -->
<section class="blog_w3ls py-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub"><span>Trending</span></p>
            <h3 class="w3ls-title">Top 3 món bán chạy nhất</h3>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img class="card-img-bottom" src="/Content/images/blog1.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="/Menu">Burger Pháp</a></h5>
                        <p class="mt-3">Burger phong cách Napoléon</p>
                        <a href="/Menu" class="btn button-w3ls mt-4 mb-3">
                            Xem thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img class="card-img-bottom" src="/Content/images/g1.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="/Menu">Pizza trứng chiên</a></h5>
                        <p class="mt-3">Hương thơm và mùi vị của trứng và thịt hòa quyện vô cùng hấp dẫn</p>
                        <a href="/Menu" class="button-w3ls active mt-4 mb-3">
                            Xem thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                <div class="card border-0 med-blog">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img class="card-img-bottom" src="/Content/images/gaquay.jpg" alt="Card image cap">
                        </a>
                    </div>
                    <div class="card-body border border-top-0">
                        <h5 class="blog-title card-title m-0"><a href="/Menu">Gà quay kiểu Mỹ</a></h5>
                        <p class="mt-3">Phong cách Dolnal Trump</p>
                        <a href="/Menu" class="button-w3ls mt-4 mb-3">
                            Xem thêm
                            <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //specials -->
<!-- two grids -->
<section class="offer pt-lg-3">
    <div class="row no-gutters">
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="/Menu">Best Fast Food Collection</a></h4>
                    <p class="text-li">Có thể nói chúng tôi là những nhà sưu tầm fast food, ở đây không có thì không đâu có.</p>
                    <a href="/Menu" class="button-w3ls active mt-5">
                        Order Ngay
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="blog-sec-w3 blog-sec-w3-2">
                <div class="text-blog-w3 text-center p-2">
                    <h4 class="text-wh mb-3"><a href="/Menu">Organic Best & Fresh Food</a></h4>
                    <p class="text-li">Salas tươi và đồ ăn nóng hổi đang trờ bạn.</p>
                    <a href="/Menu" class="button-w3ls active mt-5">
                        Order Ngay
                        <span class="fa fa-caret-right ml-1" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //two grids -->
<!-- services -->
<section class="middle py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub">Gọi điện ngay - Ship liền tay</p>
            <h3 class="w3ls-title mb-3"><span>Chính sách dịch vụ</span></h3>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 pt-lg-0 pt-4">
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right">
                        <h4 class="mb-3"><a href="#">CHẤT LƯỢNG</a></h4>
                        <p>Chú trọng khâu tuyển chọn đội ngũ đầu bếp chuyên nghiệp, thực đơn của chúng tôi luôn được đổi mới, đa dạng với nhiều hương vị.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="/Content/images/s1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 w3pvt-lauits_banner_bottom_left">

            </div>
            <div class="col-lg-5 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center">
                        <img src="/Content/images/s2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right">
                        <h4 class="mb-3"><a href="#">GIAO HÀNG ĐÚNG GIỜ</a></h4>
                        <p>Chúng tôi cam kết luôn giao hàng đúng giờ và chi phí giao hàng rẻ nhất.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row grids-w3 py-xl-5 py-lg-4 mt-lg-0 mt-4">
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left">
                <div class="row">
                    <div class="col-8 wthree_banner_bottom_grid_right text-right pl-lg-0">
                        <h4 class="mb-3"><a href="#">PHỤC VỤ</a></h4>
                        <p>FastFood King luôn lắng nghe và chăm sóc những nhu cầu dù là nhỏ nhất của Quý khách.</p>
                    </div>
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pr-lg-0">
                        <img src="/Content/images/s3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left pr-0">

            </div>
            <div class="col-lg-4 w3pvt-lauits_banner_bottom_left mt-lg-0 mt-4">
                <div class="row">
                    <div class="col-4 wthree_banner_bottom_grid_left text-lg-right text-center pl-lg-0">
                        <img src="/Content/images/s4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-8 wthree_banner_bottom_grid_right pr-lg-0">
                        <h4 class="mb-3"><a href="#">THỜI GIAN</a></h4>
                        <p>Tổng đài FastFood King tiếp nhận đơn hàng trong khung giờ từ 8:00 – 21:00 hàng ngày.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-blog-2">
        <img src="/Content/images/img.png" alt="" class="img-fluid">
    </div>
</section>
<!-- //services -->
<!-- Người dùng lâu năm -->
<section class="blog_w3ls py-5" id="nguoidunglaunam">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <p class="w3ls-title-sub nx">Nhận xét</p>
            <h3 class="w3ls-title mb-3">Khách hàng <span>lâu năm</span></h3>
        </div>
        <div class="row">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img src="/Content/images/g1.jpg" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="/Content/images/te1.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Bích Ngọc</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>Khách hàng gắn bó 3 năm</span>
                        </div>
                        <p>" Chất lượng dịch vụ tuyệt vời, thực đơn có rất nhiều sự lựa chọn. Chất lượng món ăn và cách chế biến vô cùng sáng tạo, thật tuyệt vời. Rất đáng giá. "</p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img src="/Content/images/g4.jpg" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="/Content/images/te2.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Văn Huỳnh</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>Khách hàng gắn bó 3 năm</span>
                        </div>
                        <p>" Nhân viên thân thiện, dịch vụ nhanh chóng. Thực đơn rất đa dạng và món nào nghe cũng hấp dẫn và có cảm giác tươi mới đặc biệt là mức giá trung bình,"</p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="card border-0">
                    <div class="card-header p-0">
                        <a href="/Menu">
                            <img src="/Content/images/g5.jpg" class="card-img-bottom img-fluid" alt="image">
                        </a>
                        <img src="/Content/images/te3.jpg" alt="" class="img-blog rounded-circle img-fluid">
                    </div>
                    <div class="card-body text-center pt-5 mt-2">
                        <h5 class="blog-title card-title mb-2"><a href="single.html">Tuấn Anh</a></h5>
                        <div class="blog_w3icon border-top border-bottom py-1 mb-3">
                            <span>Khách hàng gắn bó 2 năm</span>
                        </div>
                        <p>" Món ăn khá độc đáo và ngon miệng, phong cách bài trí thẩm mỹ, điều đó sẽ khiến bạn sẽ ghi nhớ mãi khi dùng bữa tại đây. Nên thử, nhất định phải thử. "</p>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- Người dùng lâu năm -->
<!-- slides images -->
<section class="wthree-slider" id="masthead"></section>
<!-- //slides images -->
<!-- newsletter -->
<section class="subscribe-main py-5">
    <div class="container py-xl-5 py-3">
        <div class="row pb-lg-4 pt-lg-5">
            <div class="col-lg-6 col-md-9 text-center">
                <h3 class="w3ls-title mb-2">Nhận thông tin khuyến mãi</h3>
                <p class="mb-xl-5 mb-4">Giao hàng miễn phí cho đơn hàng đầu tiên</p>
                <form action="#" method="post" class="d-flex newsletter-info">
                    <input type="email" name="email" placeholder="Email của bạn..." required="">
                    <button type="submit">Xác nhận</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-3">

            </div>
        </div>
        <img src="/Content/images/sub.png" alt="" class="img-fluid sub-img">
    </div>
</section>
<!-- //newsletter -->
